<div class="container main-container">    
    <div class="row">
        <div class="col-12 title">
            <span>Biologicaly relevant Metals Statistics</span>
            <div class="links">
                <a routerLink="/statistics">HOME</a>
                <a routerLink="/statistics/m1">M1</a>
                <a routerLink="/statistics/m2">M2</a>
                <a routerLink="/statistics/m3">M3</a>
                <a routerLink="/statistics/m4">M4</a>
                <a routerLink="/statistics/m5">M5</a>
                <a routerLink="/statistics/m6">M6</a>
                <a routerLink="/statistics/m7">M7</a>
                <a routerLink="/statistics/l1">L1</a>
                <a routerLink="/dashboard">Back</a>
            </div>
        </div> 
        <router-outlet></router-outlet>
    </div>
</div>