.main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85vh;
    width: 100vw;
    background-color: rgb(135, 206, 250);
    border-radius: 1%;
}

.border{
    border: 1px solid;
    /*margin-top: 10vh;
    margin-right: 2vw;
    margin-left: 3vw;*/
}

.title{
    display: flex;
    align-items: center;
    justify-content: baseline;
    color: rgba(0, 89, 255, 0.918);
    font-size: x-large;
    font-weight: 400;
    background-color: rgba(135, 185, 250, 0.911);
    border-radius: 2%;
}

.chain{
    margin-top: 6vh;
    margin-left: 3vw;
}

.lingads{
    margin-top: 6vh;
    margin-left: 3vw;
}

.metals{
    margin-top: 6vh;
    margin-left: 2.7vw;
}

.scope{
    margin-top: 5vh;
    margin-left: 3vw;
}

.multi{
    margin-top: 5vh;
    margin-left: 4.6vw;
}

.filter{
 margin-left: 4vw;
 margin-top: 5vh;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    gap: 20px 30px;

}

